body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(164,210,255,1) 100%);
}

.contact-form {
    width: fit-content;
    margin: auto;
    height: 100vh;
}

.imagem {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.imagem img {
    height: 100vh;
}