.form-layout {
    background-color: #ffaf72;
}

.img-layout {
    background-color: ghostwhite;
}

.left-text {
    background-color: #1b1b1b;
    color: white;
    padding: 65px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-alignment {
    width: fit-content;
    height: fit-content;
    background: ghostwhite;
    padding: 50px 70px;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 15px 15px #ffcda7;
}

.imagem {
    height: 100vh;
    object-fit: cover;
}

.btn-voltar {
    position: absolute;
    padding: 15px;
    opacity: 0.5;
}