.form-layout {
    background-color: #ffe0c8;
}

.img-layout {
    background-color: ghostwhite;
}

.left-text {
    background-color: #ff8886;
    color: white;
    padding: 65px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-alignment {
    width: fit-content;
    height: fit-content;
    background: ghostwhite;
    padding: 50px 70px;
    border: solid 5px white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ffcda7;
}

.imagem {
    height: 100vh;
    object-fit: cover;
}