body {
    background: #ffaf72;
}

.container-fluid {
    padding: 0;
}

.form-alignment {
    width: fit-content;
    height: fit-content;
    margin: auto;
    background: white;
    padding: 60px;
    box-shadow: 15px 15px #ffd3b1;
}

.btn-voltar {
    position: absolute;
    padding: 15px;
    opacity: 0.5;
}